<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <div id="main">
        <h2>NASA</h2>

        <!-- Today's image is a video -->
        <video width="300" controls autoplay muted loop playsinline>
            <source src="<%=image%>" type="video/mp4">
        </video>
        
        <div class="planet-details">
            <p><%=imageDescription%></p>
        </div>

    </div>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>