<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <div id="main">
        <h2>NASA</h2>

        <div class="planet-content">
            <div class="media-container">
                <!-- Dynamic handling if API provides a video instead of an image-->
                 <% if (mediaType === 'video') { %>
                    <video controls autoplay muted loop playsinline>
                        <source src="<%=mediaURL%>" type="video/mp4">
                    </video>
                <%} else { %>
                    <img src="<%=mediaURL%>" alt="NASA Picture of the Day">
                <% } %>
            </div>
            
            <div class="planet-details">
                <h3>About This Image</h3>
                <p><%=mediaDescription%></p>
            </div>
            
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>