<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>

    <h2><%=planetName%></h2>

    <img src="<%=planetInfo.image%>">


    <%- include('partials/footer.ejs') %>
    
</body>
</html>